
@font-face {
    font-family: staatliches;
    src: url(fonts/Staatliches-Regular.ttf);
  }


  @font-face {
    font-family: inter-regular;
    src: url(fonts/Inter-Regular-slnt=0.ttf);
  }

  
  @font-face {
    font-family: SourceCodePro-Regular;
    src: url(fonts/SourceCodePro-Regular.ttf);
  }

  h5{
    font-family:  SourceCodePro-Regular;
  }


  h3{
font-family: staatliches;
  }


body {
    font-family: staatliches;
    background-color: #f7f1e2;
}

.nav-link,p {
    font-family: inter-regular;
    font-size:18px;
}

.navbar-toggler-icon{
  background-image: none !important;
}

.navbar-dark .navbar-toggler {
  color: transparent;
  border-color: transparent;
}

.social-media-icon{
  display: none;
  
}

.banner-div {
   overflow: hidden;
    /* background: #000; */
    display: block;
    
}
.banner-img {
    position: relative;
    text-align: center;
    color:#f7f1e2;
    background: #000;    
}

.banner-img picture{
  opacity: 0.5;
}


.banner-div-mobile {
  display: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}


.ftco-navbar-light {
    background: transparent !important;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    top: 10px;
    padding-left:30px;
    padding-right:30px;
}

.navbar-brand {
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: staatliches;

  }

.centered h1{
      font-size: 76px;
      overflow: hidden;
}



.section2-Images picture:first-child img {
    position: absolute;
    transform: translate(15px, 15px);
}

.section2-Images picture:nth-child(2) img{
    position: relative;
    
}

.section2-Images picture:last-child img{
    position: absolute;
    transform: translate(-50px, -40px);
    
}



.section2-h2{
    color: #d9664c;
    font-size:55px;
}

.section3-mobile {
    display: none;
}

.section3 {
    display: block;
}

.section3 {
    text-align: center;
}

.section3-h3 {
    color: #d9664c;
    font-size:27px;
}

.banner__slider {
  display: block;
}

.sectionA-mobile{
  display:none;
}


.owl-carousel.owl-loaded {
  display: none;
}


.section4{
  margin-bottom: 30px;
}

.section4 h2 {
    color: #d9664c;
    font-size:55px;

}

.section4 h2, h5{
  display: inline;
}


.section4 h5 {
  color: #d9664c;
  font-size: 18px;
}

.section5 h2{
    color: #d9664c;
    font-size:55px;
}

svg {
    fill:#fff;
}


.section5 p{
    font-family: inter-regular;
    font-size:30px;
    
}

.section5 {
    padding-top:200px;
    padding-bottom:200px;
    
}

.badge_div {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.badge_div img {
    position: absolute;
    top:-8%;
    right:-5%;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(332deg);
    color: #d9664c;
    z-index: -1;
    filter: invert(43%) sepia(20%) saturate(1366%) hue-rotate(324deg) brightness(108%) contrast(102%);
    opacity: 0.4;

}


.title {
    font-size:55px;
    font-family: staatliches;
   
}

.top-title {
    font-size:12px;
    font-family: SourceCodePro-Regular;
  
}

footer {
    color:#f7f1e2;
    font-family: inter-regular;
    font-size:16px;
    position: relative;
}

.footer-col {
    padding-top:130px;
    
}
.footer-col ol li{
    list-style-type: none;
}

.dotted {
  text-decoration-style:dotted ;
  color:#d9664c;
}

/* footer div{
     position: absolute;
    width: 100%;
    height: 300px;
    background-image: url(icons_logo/branchout-jaggeddivider.svg);
    background-repeat: no-repeat;
    background-size:100% 100%; 
    
} */

.footer-img {
  position: absolute;
  width:100%;
}

.footer-img img {
  height: fit-content;
}


.footer-logo {
 text-align: center;
}

.footer-logo img{
 width: 30%;
}

.copyright h5{
    letter-spacing: 200;
    font-size:14px;
   
}

.copyright {
  text-align: center;
}

.badge_div {
  overflow: hidden;
}

.footer-col ol{
  padding-left:0;
}





  .slide {
    background: #000;
    position: relative;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .slide .slide__img {
    width: 100%;
    height: auto;
    overflow: hidden;
    opacity: 0.7;
  }


  .slide .slide__img img {
    max-width: 100%;
    height: auto;
    opacity: 1 !important;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }

  .slide .slide__content {
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .slide .slide__content.slide__content__left {
    left: 15%;
    -webkit-transform: translate(-15%, -50%);
            transform: translate(-15%, -50%);
  }

  .slide .slide__content--headings {
    color: #fff;
  }

  .slide .slide__content--headings h2 {
    font-size:55px;
  }

  .slide .slide__content--headings .animated {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .slide .slide__content--headings .button-custom {
    background-color: #d9664c;
    color:#fff;
    border-color: #d9664c;
    text-decoration: none;
    padding: 1rem 2rem;
    font-size: 12px;
    font-family: inter-regular;
    border-radius: 0;
  }
  
  .slider [data-animation-in] {
    opacity: 0;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-transition: opacity 0.5s ease 0.3s;
    transition: opacity 0.5s ease 0.3s;
    -webkit-transition: 1s;
    transition: 1s;
  }
  
  .slick-dotted .slick-slider {
    margin-bottom: 30px;
  }
  
  .slick-dots {
    position: absolute;
    bottom: 25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }
  .slick-dots li button {
    border: 0;
    display: block;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
  .slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
  }
  
  .simple-dots .slick-dots li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
  .simple-dots .slick-dots li button {
    border-radius: 50%;
    background-color: white;
    opacity: 0.25;
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
  .simple-dots .slick-dots li button:hover, .simple-dots .slick-dots li button:focus {
    opacity: 1;
  }
  .simple-dots .slick-dots li.slick-active button {
    color: white;
    opacity: 0.75;
  }
  
  .stick-dots .slick-dots li {
    height: 3px;
    width: 50px;
  }
 
  .stick-dots .slick-dots li.slick-active button:hover, .stick-dots .slick-dots li.slick-active button:focus {
    opacity: 1;
  }
  
  /* /////////// IMAGE ZOOM /////////// */
  @-webkit-keyframes zoomInImage {
    from {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
      -webkit-transition: 1s;
      transition: 1s;
    }
    to {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
              transform: scale3d(1.1, 1.1, 1.1);
      -webkit-transition: 1s;
      transition: 1s;
    }
  }
  @keyframes zoomInImage {
    from {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
      -webkit-transition: 1s;
      transition: 1s;
    }
    to {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
              transform: scale3d(1.1, 1.1, 1.1);
      -webkit-transition: 1s;
      transition: 1s;
    }
  }
  .zoomInImage {
    -webkit-animation-name: zoomInImage;
            animation-name: zoomInImage;
  }
  
  @-webkit-keyframes zoomOutImage {
    from {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
              transform: scale3d(1.1, 1.1, 1.1);
      -webkit-transition: 1s;
      transition: 1s;
    }
    to {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
      -webkit-transition: 1s;
      transition: 1s;
    }
  }
  
  @keyframes zoomOutImage {
    from {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
              transform: scale3d(1.1, 1.1, 1.1);
      -webkit-transition: 1s;
      transition: 1s;
    }
    to {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
      -webkit-transition: 1s;
      transition: 1s;
    }
  }
  .zoomOutImage {
    -webkit-animation-name: zoomOutImage;
            animation-name: zoomOutImage;
    -webkit-transition: 1s;
    transition: 1s;
  }
  
  .slick-nav {
    --active: #fff;
    --border: rgba(255, 255, 255, 0.12);
    width: 44px;
    height: 44px;
    position: absolute;
    cursor: pointer;
    top: calc(50% - 44px);
  }
  .slick-nav.prev-arrow {
    left: 3%;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    z-index: 999;
  }
  .slick-nav.next-arrow {
    left: auto;
    right: 3%;
  }
  .slick-nav i {
    display: block;
    position: absolute;
    margin: -10px 0 0 -10px;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
  }
  .slick-nav i:before, .slick-nav i:after {
    content: "";
    width: 10px;
    height: 2px;
    border-radius: 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: var(--active);
    margin: -1px 0 0 -5px;
    display: block;
    -webkit-transform-origin: 9px 50%;
            transform-origin: 9px 50%;
  }
  .slick-nav i:before {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  .slick-nav i:after {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  .slick-nav:before, .slick-nav:after {
    content: "";
    display: block;
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 50%;
    border: 2px solid var(--border);
  }
  .slick-nav svg {
    width: 44px;
    height: 44px;
    display: block;
    position: relative;
    z-index: 1;
    color: var(--active);
    stroke-width: 2px;
    stroke-dashoffset: 126;
    stroke-dasharray: 126 126 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .slick-nav.animate svg {
    -webkit-animation: stroke 1s ease forwards 0.3s;
            animation: stroke 1s ease forwards 0.3s;
  }
  .slick-nav.animate i {
    -webkit-animation: arrow 1.6s ease forwards;
            animation: arrow 1.6s ease forwards;
  }
  .slick-nav.animate i:before {
    -webkit-animation: arrowUp 1.6s ease forwards;
            animation: arrowUp 1.6s ease forwards;
  }
  .slick-nav.animate i:after {
    -webkit-animation: arrowDown 1.6s ease forwards;
            animation: arrowDown 1.6s ease forwards;
  }


  @media (max-width: 992px) {
    .banner-div-mobile {
      display: block;
      background-color: #000;
    } 
  
    .banner-div {
      display: none;
    }
  
    .banner-img-mobile {
      position: relative;
      text-align: center;
      color:#f7f1e2;    
  }
  
    .banner-img-mobile picture img{
        opacity: 0.4;
    }

    .social-media-icon {
      display: block !important;
    }

    .social-media-icon i {
      color: #fff;
      padding:10px
    }
  
  
  }
    
  
  

  @media (min-width: 992px) {
    .slider,
    .slide {
      height: 80vh;
    }
  }
  


  @media (min-width: 992px) {
    .slide .slide__img {
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
    }
  }
  
  @media only screen and (max-width: 768px) {

    .footer-col {
      text-align: center;
      padding-top:70px;
    }

    .footer-address {
      text-align: center !important;
    }

    .banner-img {
      width: 40%;
  }
  
  .footer-col ol{
    padding-left:0;
  }
  
  }

  
  


  @media only screen and (max-width: 480px) {
    .banner-div-mobile {
      display: block;
      background-color: #000;
    } 
  
    .banner-div {
      display: none;
    }
  
    .banner-img-mobile {
      position: relative;
      text-align: center;
      color:#f7f1e2;    
  }

  .banner-img-mobile picture img{
      opacity: 0.4;
  }
  .social-media-icon i {
    padding:5px;
  }

  .section2 {
    padding:30px !important;
    padding-bottom: 0px !important;
  }

  .section2 p{
    font-size:15px;
    font-weight: bold;
  }

  .section2-h2 {
    font-size: 50px;
}


.section2-container {
  overflow: hidden;
}

.section2-Images{
  padding:30px;
}

.section2-Images picture:nth-child(2) img {
  width: 95%;
}

    .section3-mobile{
          display: block;
     }
  
     .section3{
         display: none;
     } 
   
     .owl-carousel.owl-loaded {
      display: block;
  }
  
  .item{
      opacity:0.4;
      transition:.4s ease all;
      margin:0 20px;
      transform:scale(.8);
    }
  
    .item{margin:0; transform:scale(.9)}
  
    .active .item{
      opacity:1;
      transform:scale(1);
    } 
  
    .owl-item {
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0) scale(1.0, 1.0);
      text-align: center;
      padding-top: 50px;
    }
  
    .owl-carousel .owl-item img {
      display: block;
      width: 40%;
      margin-left: auto;
      margin-right: auto;
    } 
  
    
    .owl-carousel:after{
      content:""; display:block; position:absolute; width:8%; top:0; bottom:0; left:50%; margin-left:-4%; pointer-events: none; background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/aett_logo_slider.png) no-repeat center 50%; background-size:100% auto;
    }
  
    .owl-controls{
      position:absolute; margin-top:300px;
    }
  
    .banner-div-mobile .owl-item img{
      width: 100%;
    }
  
  
    .carousel-indicators li {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      
  }

  .carousel-indicators .active {
  background-color: #d9664c;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #d9664c;
}

  .owl-nav {
    display: none;
  }
  
  .owl-item:active {
    width: 200.2px;
  }
  
  .owl-item {
    width: 150px ;
  }

  /* .owl-carousel .owl-stage {
    padding-top: 100px;
  } */

  .owl-theme .owl-dots{
    padding-bottom: 100px;
  }
  
  .banner__slider {
    display: none;
  }
  
  .sectionA-mobile{
    display:block;
  }

  .section4 h2, h5{
    display: block;
  
  }

  .section4 h2 {
    font-size: 50px;
    text-align: left;
}

  .slide .slide__content--headings {
    padding-left: 20px;
    padding-bottom: 30px;
  }

  .section5 h2 {
    font-size: 45px;
  }

  .section5 p {
    font-size: 20px;
    font-weight: bold;
}
.badge_div img{
  width: 80%;
  right: -30%;

}
.section5 {
  padding-top:150px;
  
}

.dotted {
  text-decoration-line: none;
}
      
  }


  @media only screen and (max-width: 423px) {
    .banner-img-logo {
      width:35%;
    }

    .navbar-dark .navbar-brand {
      text-align: center;
      width:40%;
    }
  }
  
  